
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="row" style="margin-left:5px">
<h4> Insights </h4> <hr style="border: 1px solid grey; width:60%; float:left; margin-top:-5px" />
</div>

<div class="row">
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-book-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total Books</span>
            <span class="info-box-number">Count Here</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-ios-copy-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total Copies</span>
            <span class="info-box-number">Count Here</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="ion ion-social-buffer-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Books On Loan</span>
            <span class="info-box-number">Count Here</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-calendar-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Books Past Due Date</span>
                <span class="info-box-number">Count Here</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>

<div class="row">
    <div class="col-sm-4 box-body">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Recently Added Books</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Book Name</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Robinson Crusoe</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>White Fangs</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Oliver Twist</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>The Great Wild</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Dawn of The Dead</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--second table-->
    <div class="col-sm-4 box-body">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Most Loaned Books</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Book Name</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Robinson Crusoe</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>White Fangs</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Oliver Twist</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>The Great Wild</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Dawn of The Dead</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--third table-->
    <div class="col-sm-4 box-body">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Recently Loaned Books</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Book Name</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Robinson Crusoe</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>White Fangs</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Oliver Twist</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>The Great Wild</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Dawn of The Dead</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
